.consultation {
    background-color: #FEEAAD;
    position: relative;
}

.consultation__container {
    position: relative;
    padding: 72px 50px;
}

.consultation__picture {
    position: absolute;
    bottom: 0;
    left: 50px;
}

.consultation__content {
    padding-left: 392px;
}

.consultation__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 31px;
}

.consultation__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #333;
}

.consultation__decor {
    width: 300px;
    height: 300px;
    opacity: 0.5;
    border: 50px solid #FFFFFF;
    position: absolute;
    top: 56px;
    left: -151px;
    border-radius: 50%;
}

.consultation__decor_small {
    width: 236px;
    height: 236px;
    top: initial;
    left: initial;
    bottom: -84px;
    right: -118px;
}