.consultation {
    background-color: #FEEAAD;
    position: relative;
}

.consultation__container {
    position: relative;
    padding: 72px 50px;
}

.consultation__picture {
    position: absolute;
    bottom: 0;
    left: 50px;
}

.consultation__content {
    padding-left: 392px;
}

.consultation__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 31px;
}

.consultation__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #333;
}

.consultation__decor {
    width: 300px;
    height: 300px;
    opacity: 0.5;
    border: 50px solid #FFFFFF;
    position: absolute;
    top: 56px;
    left: -151px;
    border-radius: 50%;
}

.consultation__decor_small {
    width: 236px;
    height: 236px;
    top: initial;
    left: initial;
    bottom: -84px;
    right: -118px;
}

.consultation_reverse .consultation__content {
    padding-left: 0;
    padding-right: 392px;
}

.consultation_reverse .consultation__picture {
    left: initial;
    right: 50px;
}

.consultation_reverse .consultation__decor {
    left: initial;
    right: -151px;
}

@media (max-width: 1600px) {
    .consultation__content {
        padding-left: 310px;
    }

    .consultation_reverse .consultation__content {
        padding-right: 310px;
    }

    .consultation__decor {
        left: -111px;
    }

    .consultation_reverse .consultation__decor {
        right: 26px;
    }
}

@media (max-width: 991px) {
    .consultation__container {
        padding: 40px 50px;
    }

    .consultation__title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 16px;
        text-align: center;
    }

    .consultation__img {
        width: 197px;
        height: 300px;
    }

    .consultation__content {
        padding-left: 230px;
    }

    .consultation_reverse .consultation__content {
        padding-right: 230px;
    }

    .consultation__link {
        font-size: 20px;
        line-height: 28px;
        margin: 0 auto;
        display: block;
        width: fit-content;
    }

    .consultation__decor {
        width: 195px;
        height: 195px;
        top: 60px;
        left: -60px;
        border: 40px solid #fff;
    }

    .consultation_reverse .consultation__decor {
        top: 60px;
        right: 26px;
    }
}

@media (max-width: 699px) {
    .consultation__container {
        padding: 40px 30px;
    }

    .consultation__title {
        font-size: 24px;
        line-height: 28px;
    }

    .consultation__content {
        padding-left: 0;
        padding-bottom: 176px;
    }

    .consultation_reverse .consultation__content {
        padding-right: 0;
    }

    .consultation__img {
        width: 131px;
        height: 200px;
    }

    .consultation__picture {
        left: 50%;
        transform: translateX(-50%);
    }

    .consultation_reverse .consultation__picture {
        left: 50%;
        right: initial;
        transform: translateX(-50%);
    }

    .consultation__decor {
        top: initial;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .consultation_reverse .consultation__decor {
        top: initial;
        right: initial;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .consultation__link {
        font-size: 18px;
        line-height: 28px;
        white-space: nowrap;
    }
}