.promotions__slider {
    padding: 40px 0;
}

.promotion__img {
    width: 100%;
    max-height: 273px;
    object-fit: cover;
    border-radius: 24px 24px 0 0;
}

.promotion {
    height: auto;
    box-shadow: 0px 0px 40px #E3E3E3;
    border-radius: 24px;
}

.promotion__content {
    padding: 32px;
}

.promotion__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.promotion__descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.promotions__title {
    margin-bottom: 0;
}

.promotions__slider-button {
    display: none;
}

@media (max-width: 1600px) {
    .promotion__content {
        padding: 24px;
    }
}

@media (max-width: 1200px) {
    .promotions__slider {
        padding: 32px 0;
    }

    .promotions__slider-button {
        display: flex;
    }

    .promotion__content {
        padding: 20px;
    }

    .promotion__title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 4px;
    }

    .promotion__descr {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (max-width: 699px) {
    .promotions__slider {
        padding: 24px 0;
    }

    .promotion__title {
        font-size: 16px;
        line-height: 24px;
    }

    .promotion__descr {
        font-size: 14px;
        line-height: 20px;
    }
}