.promo {
    background-color: #F5F5F5;
    position: relative;
    overflow: hidden;
}

.promo__container {
    padding: 112px 50px;
    position: relative;
}

.promo__content {
    max-width: 662px;
    position: relative;
    z-index: 10;
}

.promo__title {
    text-align: left;
    margin-bottom: 12px;
}

.promo__descr {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 32px;
}

.promo__list {
    margin-bottom: 38px;
}

.promo__btn-group {
    display: flex;
}

.promo__btn {
    margin-right: 16px;
    padding: 18px 32px;
}

.promo__btn:last-child {
    margin-right: 0;
    padding: 14px 30px;
}

.promo__btn .btn__text {
    font-size: 18px;
    line-height: 24px;
}

.promo__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    bottom: 0;
}

.promo__slide {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 454px 686px;
}

.promo__slider + .promo__slider-pagination {
    position: absolute;
    z-index: 10;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.promo__decor {
    position: absolute;
    bottom: 158px;
    right: 370px;
    opacity: 0.1;
    border: 50px solid #63728C;
    width: 238px;
    height: 238px;
    border-radius: 50%;
}

.promo-decor_big {
    border: 50px solid #fff;
    width: 508px;
    height: 508px;
    bottom: 88px;
    right: -142px;
}

@media (max-width: 1600px) {
    .promo__container {
        padding: 96px 50px;
    }

    .promo__content {
        max-width: 579px;
    }

    .promo__slide {
        background-size: 321px 580px;
    }
}

@media (max-width: 991px) {
    .promo__container {
        padding: 72px 0 72px 50px;
    }

    .promo__content {
        max-width: 357px;
    }

    .promo__descr {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .promo__btn {
        padding: 10px 20px;
        margin-right: 8px;
    }

    .promo__btn .btn__text {
        font-size: 14px;
        line-height: 16px;
    }

    .promo__btn:last-child {
        padding: 10px 20px;
    }

    .promo__slider {
        width: 100%;
    }

    .promo__list {
        margin-bottom: 24px;
    }

    .promo__slider + .promo__slider-pagination {
        width: fit-content;
        left: initial;
        right: 42px;
        bottom: 72px;
        transform: initial;
    }
}

@media (max-width: 699px) {
    .promo__slider {
        display: none;
    }

    .promo__slider-pagination {
        display: none;
    }

    .promo__decor {
        display: none;
    }

    .promo__content {
        max-width: none;
    }

    .promo__container {
        padding: 40px 30px;
    }

    .promo__descr {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .promo__btn-group {
        display: block;
    }

    .promo__btn {
        margin-right: 0;
        margin-bottom: 8px;
        width: 100%;
    }

    .promo__btn:last-child {
        margin-bottom: 0;
    }
}