.reviews__top {
    display: flex;
    justify-content: space-between;
}

.reviews__title {
    margin-bottom: 0;
    margin-right: 24px;
}

.reviews__btn {
    height: 100%;
    margin-top: 8px;
}

.reviews__wrapper {
    position: relative;
}

.reviews__slider {
    padding: 40px 0;
}

.review {
    height: auto;
    display: flex;
    padding: 32px;
    background-color: #fff;
    border: 1px solid #F3F3F4;
    box-shadow: 0px 0px 40px #E3E3E3;
    border-radius: 24px;
}

.review__avatar {
    flex: 0 0 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
}

.review__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 8px;
}

.review__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #63728C;
}

@media (max-width: 1600px) {
    .review {
        padding: 24px;
    }
}

@media (max-width: 991px) {
    .reviews__slider {
        padding: 32px 0;
    }

    .review {
        padding: 20px;
    }

    .review__title {
        font-size: 18px;
        line-height: 28px;
    }

    .review__text {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (max-width: 699px) {
    .reviews__top {
        flex-direction: column;
        align-items: center;
    }

    .reviews__title {
        text-align: center;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .reviews__btn {
        margin-top: 0;
    }

    .reviews__slider {
        padding: 24px 0;
    }

    .review {
        flex-direction: column;
        align-items: center;
    }

    .review__avatar {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .review__title {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .review__text {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .reviews__wrapper {
        padding: 0;
    }

    .reviews .slider-button {
        display: none;
    }
}