.services {
    margin-bottom: 84px;
}

.services__card {
    padding: 32px;
    background-color: #fff;
    box-shadow: 0px 0px 40px #E3E3E3;
    border-radius: 24px;
}

.services__card-decor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    background-color: rgba(235, 85, 83, .15);
    border-radius: 24px;
    margin-bottom: 24px;
}

.services__card:nth-child(2n) .services__card-decor {
    background-color: rgba(240, 209, 22, .15);
}

.services__card-top {
    margin-bottom: 8px;
}

.services__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.services__card-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #63728C;
}

@media (max-width: 1600px) {
    .services {
        margin-bottom: 68px;
    }

    .services__card {
        padding: 24px;
    }

    .services__card-decor {
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .services {
        margin-bottom: 52px;
    }

    .services__card {
        padding: 20px;
        box-shadow: 0px 0px 30px #E3E3E3;
    }

    .services__card-decor {
        width: 60px;
        height: 60px;
        margin-bottom: 12px;
    }

    .services__card-top {
        margin-bottom: 4px;
    }

    .services__card-title {
        font-size: 20px;
        line-height: 28px;
    }

    .services__card-descr {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (max-width: 699px) {
    .services {
        margin-bottom: 40px;
    }

    .services__card {
        box-shadow: 0px 0px 20px #E3E3E3;
    }

    .services__card-top {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .services__card-decor {
        margin-bottom: 0;
        margin-right: 10px;
        width: 32px;
        height: 32px;
        background-color: transparent!important;
    }

    .services__card-descr {
        font-size: 14px;
        line-height: 20px;
    }
}