.specialists__title {
    max-width: 560px;
    margin: 0 auto 12px;
}

.specialists__descr {
    text-align: center;
    max-width: 560px;
    margin: 0 auto 40px;
}

.specialists__wrapper {
    position: relative;
}

.specialist {
    height: auto;
    display: flex;
    flex-direction: column;
}

.specialist__picture {
    display: flex;
    justify-content: center;
    padding: 24px 12px 0;
    margin-bottom: 16px;
    background-color: #F5F5F5;
    border-radius: 24px;
    overflow: hidden;
}

.specialist__img {
    object-fit: cover;
    object-position: top;
    max-height: 224px;
}

.specialist__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
}

.specialist__descr {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #63728C;
    flex: 1 1 auto;
    margin-bottom: 16px;
}

.specialist__btn {
    margin: 0 auto;
}